COMPOSE_PROJECT_NAME=foreningsplugin
WP_PORT=8088
WP_URL=http://localhost:8088
WP_TITLE=Föreningsplugin
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=admin
WP_ADMIN_EMAIL=dev@localhost.local
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress
MYSQL_ROOT_PASSWORD=root
